:root {
    /* --FONT FAMILY----------- */
    --font-family: 'Inter', sans-serif;

    /* --FONT SIZE------------- */
    --body-font-size: 18px;
    --text-fsz: 18px;

    /* --COLORS-------------- */
    --bg-color: #fff;
    --header-bg: #fff;
    --header-link: #192252;
    --logo: #192252;
    --buttons-bg: #0E1734;
    --all-fonts-color: #848FAC;
    --buttons-text: #fff;
    --main-title-color: #192252;
    --title-color: #192252;
    --text-color: #848FAC;
    --footer-bg: #0B265A;
    --footer-logo: #fff;
    --footer-label: #fff;
    --footer-link: #D9DBDE;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    color: var(--all-fonts-color)
}

body._lock {
    overflow: hidden;
}

/* --wrapper----------------------- */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--bg-color);
}

/* --PAGE------------------------- */
.page {
    flex: 1 1 auto;
}

/* --CONTAINER-------------------- */
._container {
    max-width: 1200px;
    margin: 0 auto;
}

/* --HEADER----------------------------------------------------------------- */
.header {
    background-color: var(--header-bg);
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;   
}

.header__fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    animation-name: show__header;
    animation-duration: 1s;
}

@keyframes show__header {
    0% {
        orphans: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
}

.header__logo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: var(--logo);
    flex: 0 1 30%;
    padding: 0 15px;
}

.header__menu {
    padding: 0 15px;
    flex: 0 1 65%;
}

.menu__icon {
    display: none;  
}

.menu__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
}

.menu__item:not(:last-child) {
    margin: 0 32px 0 0;
}

.menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--header-link);
}

.menu__link:hover {
    color: #1f2d5f;
}

.header__button {
    min-height: 47px;
    padding: 0 16px 0 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background: var(--buttons-bg);
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    background: #1f2d5f;
}

.button a {
    color: var(--buttons-text);
}

/* --MAIN-BLOCK------------------------------------------------------------- */
.page__main-block {
    padding: 80px 0 96px 0;
}

.main-block__container {
    display: flex;
    align-items: center;
}

.main-block__body {
    flex: 0 1 50%;
    padding: 0 15px; 
}

.body-main-block__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main-title-color);
    max-width: 577px;
}

.body-main-block__title:not(:last-child) {
    margin: 0 0 24px 0;
}

.body-main-block__text {
   max-width: 485px;
}

.body-main-block__text:not(:last-child) {
    margin: 0 0 24px 0;
}

.text {
    font-weight: 400;
    font-size: var(--text-fsz);
    line-height: 150%;
    color: var(--text-color);
}

.body-main-block__button {
    min-height: 51px;
    padding: 0 32px;
    display: inline-flex;
}

.button {
    cursor: pointer;
}

.main-block__img {
    padding: 0 15px;
    display: flex;
    flex: 0 1 50%;
}

.img-house:not(:last-child) {
    padding: 0 24px 0 0;
}

.img-left {
    max-width: 100%;
}

.img-center {
    max-width: 100%;
    padding-top: 81px;
}

.img-right {
    max-width: 100%;
}

/* --NORWAY-HOTEL-------------------------------------------------------- */
.page__norway-hotel {
    padding: 80px 0;
}

.norway-hotel__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.norway-hotel__img {
    padding: 0 15px;
    flex: 0 1 40%;
}

.norway-hotel__img img {
    max-width: 100%;
}

.norway-hotel__body {
    flex: 0 1 60%;
    padding: 0 15px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: var(--title-color);
}

.title:not(:last-child) {
    margin: 0 0 24px 0;
} 

.body-norway-hotel__texts {
    max-width: 584px;
}

.body-norway-hotel__texts:not(:last-child) {
    margin: 0 0 32px 0;
}

.body-norway-hotel__text:not(:last-child) {
    margin: 0 0 16px 0;
}

.body-norway-hotel__text_1:not(:last-child) {
    margin: 0 0 16px 0;
}

.body-norway-hotel__button {
    min-height: 51px;
    padding: 0 32px;
    display: inline-flex;
}

.body-norway-hotel__button:not(:last-child) {
    margin: 32px 0 0 0;
}

/* --ACTIVITIES------------------------------------------------------------- */
.page__activities {
    padding: 80px 0;
}

.activities__container {
    padding: 0 106px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activities__container_2 {
    padding-top: 32px;
}

.activities__body {
    max-width: 584px;
    padding: 0 15px;   
}

.activities__img img {
    max-width: 100%;
}

.activities__body_1 {
    flex: 0 1 65%;
}

.activities__img_1 {
    flex: 0 1 35%;
}

.activities__img_2 {
    flex: 0 1 35%;
}

.activities__body_2 {
    flex: 0 1 65%;
}

/* --ROOMS-------------------------------------------------------------- */
.page__rooms {
    padding: 80px 0;
}

.rooms__body {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rooms__body:not(:last-child) {
    margin: 0 0 88px 0;
}

.body-rooms__text {
    max-width: 600px;
}

.body-rooms__text:not(:last-child) {
    margin: 0 0 32px 0;
}

.body-rooms__button {
    min-height: 51px;
    padding: 0 32px;
}

.rooms__row {
    display: flex;
    justify-content: space-between;
}

.rooms__column {
    flex: 0 1 33.333%;
}

.item-rooms__text-body {
    padding: 0 15px;
}

.item-rooms__img {
    padding: 0 15px;
    flex: 0 1 33.333%;
}

.item-rooms__img img {
    max-width: 100%;
}

.item-rooms__img:not(:last-child) {
    margin: 0 0 32px 0;
}

.text-body-item-rooms__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.text-body-item-rooms__title:not(:last-child) {
    margin: 0 0 16px 0;
}

.text-body-item-rooms__text:not(:last-child) {
    margin: 0 0 32px 0;
}

.text-body-item-rooms__button a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    color: #424F7B;
}

.text-body-item-rooms__button a img {
    margin: 0 0 0 12px;
}

/* --GET ROOM----------------------------------------------------------- */
.page__get-room {
    padding: 80px 0;
}

.get-room__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-room__body {
    padding: 0 15px;
    flex: 0 1 40%;
}

.body-get-room__first-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
}

.body-get-room__first-text:not(:last-child) {
    margin: 0 0 12px 0;
}

.body-get-room__text:not(:last-child) {
    margin: 0 0 32px 0;
}

.body-get-room__button-body {
    display: flex;
    align-items: center;
}

.button-body__button {
    min-height: 51px;
    padding: 0 32px;
    display: inline-flex;
}

.button-body__text a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0E1734;
    margin-left: 24px;
}

/* --accordion---------- */
.get-room__accordion-body {
    padding: 0 15px;
    flex: 0 1 50%;
}

.body-accordion__item {
    max-width: 588px;
    padding: 32px 36px 32px 36px;
    box-shadow: 0 4px 12px #ccc;
}

.body-accordion__item:not(:last-child) {
    margin: 0 0 24px 0;
}

.body-accordion__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
    position: relative;
    cursor: pointer;
}

.body-accordion__title:not(:last-child) {
    margin: 0 0 24px 0;
}

.body-accordion__title::before,
.body-accordion__title::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #0E1734;
    margin: 16px 13px;
    border-radius: 20px;
    position: absolute;
    top: -7px;
    transition: all 0.3s ease 0s;
}

.body-accordion__title::before {
    transform: rotate(-40deg);
    right: 0;
}

.body-accordion__title::after {
    transform: rotate(40deg);
    right: 7px;
}

.body-accordion__title.active::before,
.body-accordion__title.active::after {
    background-color: #FF620A;
}

.body-accordion__title.active::before {
    transform: rotate(40deg);
}

.body-accordion__title.active::after {
    transform: rotate(-40deg);
}

.body-accordion__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: none;
}

/* --CUSTOMERS------------------------------------------------------------- */
.page__customers {
    padding: 80px 0;
}

.customers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.customers__content {
    max-width: 800px;
    padding: 0 15px;
}

.content-customers__title:not(:last-child) {
    margin: 0 0 62px 0;
}

.content-customers__img:not(:last-child) {
    margin: 0 0 42px 0;
}

.content-customers__text:not(:last-child) {
    margin: 0 0 40px 0;
}

.content-customers__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;  
    color: #192252;
}

/* --FOOTER---------------------------------------------------------------- */
.footer {
    background-color: var(--footer-bg);
    padding: 120px 0;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    padding: 0 15px;
}

.social-footer__logo {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: var(--footer-logo)
}

.social-footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #D9DBDE;
    max-width: 190px;
}

.social-footer__text:not(:last-child) {
    margin: 13px 0 36px 0;
}

.social-footer__row {
    display: flex;
    align-items: center;
}

.footer__column_1:not(:last-child) {
    margin: 0 100px 0 0;
}

.footer__column_2:not(:last-child)  {
    margin: 0 141px 0 0;
}

.social-footer__item:not(:last-child) {
    margin: 0 24px 0 0;
}

.footer__row {
    padding: 0 15px;
    display: flex;
}

.footer__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--footer-label);
}

.footer__label:not(:last-child) {
    margin: 0 0 24px 0;
}

.footer__item:not(:last-child) {
    margin: 0 0 24px 0;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--footer-link);
}

.footer__link:hover {
    color: #fff;
}